.header {
  position: relative;
  border: 1px solid #ececec;
}
 .header-menu {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
   0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  position: absolute;
  width: 100%;
  padding-top:60px;
  padding-bottom: 60px;
  left: 0;
  top: 100%;
  text-align: center;
 }
 .navigation-list {
   display: block;
   margin-bottom: 60px;   
 }
 .navigation-list-link{
 font-family: Roboto,sans-serif;
 font-weight: 500;
 font-size: 18px;
 line-height: 1.167;
 color: #212121;
 }
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
 .nav-list-link {
  color: var(--accent-color);
  position: relative;
  
  &:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 44px;
  background: var(--accent-color);
  border-radius: 2px;
  }
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
 .menu-button .is-open .icon-close{
   display:block; 
 }
 .menu-button .icon-close {
   display: none;
 }
 
.menu-button.is-open .icon-menu {
  display: none;
}

[data-menu] {
  display: none;
}
[data-menu].is-open {
  display: block;
}

//.icon-address {
//margin-right: 10px;
// fill: currentColor;
//}

//.header {
//display: flex;
//align-items: center;
//border: 1px solid #ececec;

// &-contact-mail,
// &-contacts {
//   display: flex;
//  align-items: center;
// justify-content: center;
// transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}

//&-contact {
//  display: flex;
//  align-items: center;
//}

//&-contact-link:focus,
//&-contact-link:hover {
// color: var(--accent-color);
//transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}
//&-contacts:hover,
//&-contacts:focus {
// color: var(--accent-color);
//transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}
//&-contact-mail:hover,
//&-contact-mail:focus {
//  color: var(--accent-color);
//}
//&-contacts,
//&-contact-mail {
// color: #757575;
//}
//}

//.navigation {
// display: flex;
// align-items: center;

// &-list-link {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.02em;
//   color: #212121;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

//&-list {
//  display: flex;
//  align-items: center;
//}

//&-list-item {
//  padding-top: 32px;
//  padding-bottom: 32px;
//}
//&-list-link:focus,
//&-list-link:hover {
//  color: var(--accent-color);
//}
//}

//.navigation-list-item:not(:last-child) {
//  margin-right: 50px;
//}

//.header-contact-link:not(:last-child) {
//  margin-right: 40px;
//}

//.nav-list-link {
//  color: var(--accent-color);
//  position: relative;

//&:after {
//  content: "";
//  display: block;
//  position: absolute;
//  width: 100%;
//  height: 4px;
//  top: 44px;
//  background: var(--accent-color);
//  border-radius: 2px;
//}
//}

//.address {
//  display: flex;
//  margin-left: auto;
//  font-weight: 500;
//  font-size: 14px;
//  line-height: 1.142;
//  letter-spacing: 0.02em;
//}
